# **Introduction to Python**
Let's learn Python together!

In [1]:
print('Hello,world')

hello world

#**Variables**
Variables are like boxes which hold values.

In [4]:
a=10
b=6
print("a+b=",a+b)

a+b= 16

# **Variable data types**
* Integer
* Floating point
* String
* List
* Dictionary
* Set

In [5]:
age = 23 # Integer
name = 'Shajid' # String
cgpa = 3.5 # Floating point
graduated = False # Boolean

print(age)
print(name)
print(cgpa)
print(graduated)

23
Shajid
3.5
False

# **Arithmetics**
* Addition +
* Subtraction -
* Mulitiplication *
* Division /
* Modulus %
* Integer division //
* Exponent **

In [6]:
a = 20
b = 3

addition = a + b
subtraction = a - b
multiplication = a * b
division = a / b
integer_division = a // b
modulus = a % b
exponent = a ** b # a^b = 10^3

print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Integer division:", integer_division)
print("Modulus/Remainder:", modulus)
print("Exponent:", exponent)

Addition: 23
Subtraction: 17
Multiplication: 60
Division: 6.666666666666667
Integer division: 6
Modulus/Remainder: 2
Exponent: 8000

# **Some string operations**

In [17]:
first_name="AL"
last_name="Maruf"
full= first_name + " " + last_name
print(full)
print(full*6)
print((full+ '\n')*5)

AL Maruf
AL MarufAL MarufAL MarufAL MarufAL MarufAL Maruf
AL Maruf
AL Maruf
AL Maruf
AL Maruf
AL Maruf

# **Boolean example**

In [18]:
test= a>b
print(test)

True

# **Output formatting**
There are many ways to format strings in Python, but using f-strings is the easiest!

In [21]:
print(f"My name is {full}")
print(f"My age is {age}")
print(f"My cgpa is {cgpa}")

My name is AL Maruf
My age is 23
My cgpa is 3.5

# **A basic function**
If you have a task you need to do multiple times, you can write it once as a function and use it anywhere!

In [26]:
def say_hello(name,age):
 print(f"Hello {name}. Your age is {age} ")

say_hello("AL Maruf",19)
say_hello("Cardium",18)

Hello AL Maruf. Your age is 19
Hello Cardium. Your age is 18